 *{ margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: #2696e8;
    border: 1px solid blue;
    width: 700px;
    margin: 0 auto;
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
   
}
li{
    list-style-type: none;
}

a{
    padding: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    
}

a:hover{
    background-color: aliceblue;
    color: rgb(93, 108, 216);
}